#t_bio.biodiv {
    background-color: #FFFFFF;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #1d2327;
    height: 16px;
}

.hero-image {
    height: 25%;
    background: url('../images/header.webp') no-repeat right center;
    background-size: cover;
}

.hero-callsign-background {
    position: absolute;
    right: 5%;
    top: 15%;
    transform: translateY(-50%);
    backdrop-filter: blur(3px);
    border-radius: 32px;
}

.hero-callsign {
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
    font-size: 8em;
    font-weight: bold;
    background: url('../images/argentina_400x250.jpg') no-repeat center center;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.75;
}

.content {
    padding-left: 2%;
    width: 100%;
    max-width: 96%; 
}

html {
    font-family: "Fira Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 22px;
}

body {
    /*background-color: #d2d9df;*/
    /* color: white; */
    /*font-family: 'Roboto';
    font-size: 22px*/
    background-image: repeating-linear-gradient(135deg, hsla(35,0%,71%,0.09) 0px, hsla(35,0%,71%,0.09) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(45deg, hsla(35,0%,71%,0.09) 0px, hsla(35,0%,71%,0.09) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, hsl(183,0%,100%),hsl(183,0%,100%));
    margin: 0;
}

section {
    display: block;
}

.section-contents {
    padding-left: 2%;
    padding-right: 2%;
}

#livestream {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    /*-moz-transform-origin: 0 0;*/
    -o-transform: scale(0.85);
    /*-o-transform-origin: 0 0;*/
    -webkit-transform: scale(0.85);
    /*-webkit-transform-origin: 0 0;*/
}

footer {
    width: 100%;
    background-color: #464647;
    height: 64px;
    margin-top: 32px;
    text-align: end;
}

footer:last-child {
    padding-left: 32px;
}

.site-info {
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    height: 64;
    text-align: center;
}

.active {
    background-color: #67b3b6;
}

/* Barra de navegación */ 
nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.toolbar li {
    float: left;
    border-right: 1px solid #bbb;
}

.toolbar li:last-child {
    border-right: none;
}

.toolbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    font-weight: bold;
}

.toolbar li a:hover {
    background-color: #111;
}

.separator {
    height: 64px;
}

/* Contenedores */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
    justify-content: center;
    align-content: center;
    width: 100%;
}

/* Tarjetas */ 
.card {
    background-color: #fafafa;
    /*padding: 16px;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 16px;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card div {
    padding: 2px 16px 16px 16px;
}

.two_column_ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.title {
    position: relative;
    display: inline-block;
    color: white;
    background-color: #333333;
    padding: 5px 10px;
    margin: 0;
    z-index: -10;
    margin-bottom: 16px;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 100%;
    width: calc(93vw - 100%);
    height: 3px;
    background-color: #333333;
    transform: translateY(-50%);
}

.social-icon {
    width: auto;
    height: 42px;
    padding: 8px;
    padding-top: 12px;
}

.social-icon:hover {
    filter: invert(42%) sepia(88%) saturate(1644%) hue-rotate(163deg) brightness(97%) contrast(101%);
}