/* modifica estilos del QRZ */
#t_bio.biodiv {
    background-color: #FFFFFF;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #1d2327;
    height: 16px;
}

/* hero */
.hero-image {
    height: 25%;
    background: url('../images/header.webp') no-repeat right center;
    background-size: cover;
}

/* background con blur */
.hero-callsign {
    position: absolute;
    right: 5%;
    top: 15%;
    transform: translateY(-50%);
    backdrop-filter: blur(3px);
    border-radius: 16px;
    animation: fadeIn 1s ease-in;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Shrink */
.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/* licencia que usa como textura una imágen (sobre el fondo en blur) */
.hero-callsign div {
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
    font-size: 8em;
    font-weight: bold;
    background: url('../images/argentina_460x288.webp') no-repeat center center;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.75;
}

/* ajustes para resoluciones bajas (celus viejos?) */
@media screen and (max-width: 720px) {
    .hero-callsign {
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        font-size: 0.85em;
    }

    .hero-callsign div {
        background-size: 380px;
    }

    .iframe-scaled {
        zoom: 0.85;
        -moz-transform: scale(0.85);
        transform: scale(0.85);
        -o-transform: scale(0.85);
        -webkit-transform: scale(0.85);
    }

    #livestream {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

#livestream {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
}

.content {
    padding-left: 2%;
    width: 100%;
    max-width: 96%;
}

html {
    font-family: "Fira Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 22px;
}

body {
    /*background-color: #d2d9df;*/
    /* color: white; */
    /*font-family: 'Roboto';
    font-size: 22px*/
    background-image: repeating-linear-gradient(135deg, hsla(35, 0%, 71%, 0.09) 0px, hsla(35, 0%, 71%, 0.09) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(45deg, hsla(35, 0%, 71%, 0.09) 0px, hsla(35, 0%, 71%, 0.09) 1px, transparent 1px, transparent 11px), linear-gradient(90deg, hsl(183, 0%, 100%), hsl(183, 0%, 100%));
    margin: 0;
}

section {
    display: block;
}

.section-contents {
    padding-left: 2%;
    padding-right: 2%;
}

footer {
    width: 100%;
    background-color: #464647;
    height: 64px;
    margin-top: 32px;
    text-align: end;
}

footer:last-child {
    padding-left: 32px;
}

.site-info {
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    height: 64;
    text-align: center;
}

.active {
    background-color: #67b3b6;
}

/* Barra de navegación */
nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.toolbar li {
    float: left;
    border-right: 1px solid #bbb;
}

.toolbar li:last-child {
    border-right: none;
}

.toolbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    font-weight: bold;
}

.toolbar li a:hover {
    background-color: #111;
}

.toolbar li a:active {
    background-color: #67b3b6;
}

/* separador para "trucar" el ancho de la barra de navegación (hasta tanto aprenda a hacerlo mejor) */
.separator {
    height: 64px;
}

/* contenedores */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
    justify-content: center;
    align-content: center;
    width: 100%;
}

/* tarjetas */
.card {
    /*background-color: #fafafa;*/
    /*padding: 16px;*/
    /*border-radius: 16px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    font-size: 16px;
    text-decoration: none;
    border-style: solid;
    border-width: 1;
    padding: 8;
    backdrop-filter: blur(2px);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 1;
}

.card img {
    width: 100%;
}

.card div {
    padding: 2px 16px 16px 16px;
}

.two_column_ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.title {
    position: relative;
    display: inline-block;
    color: white;
    background-color: #333333;
    padding: 5px 10px;
    margin: 0;
    z-index: -10;
    margin-bottom: 16px;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 100%;
    width: calc(93vw - 100%);
    height: 3px;
    background-color: #333333;
    transform: translateY(-50%);
}

.social-icon {
    width: auto;
    height: 42px;
    padding: 8px;
    padding-top: 12px;
}

.social-icon:hover {
    filter: invert(42%) sepia(88%) saturate(1644%) hue-rotate(163deg) brightness(97%) contrast(101%);
}